.container{
    display: flex;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
}

/* καθετη στοιχηση */
/*/aliign-items:start;
aliign-items:center;
aliign-items:enter;
aliign-items:stretch;*/

div [class^="box"] {
        width: 200px;
        height: 200px;
        margin:  0 5px;
        background-color: lightblue;
        border:1px solid black ;
        
    }
